* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

.header,
.main,
.footer {
    max-width: 450px;

    margin: auto;
    padding: 0px 30px;
}

.header {
    margin-top: 30px;
}

.header-presentation {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header-presentation-image {
    max-width: 120px;
    border-radius: 15px;
    transition: .2s;     
}

.header-presentation-image:hover {
    border-radius: 40px;

    transition: .2s;
}

 .header-social {
    display: flex;
    margin-top: 15px;
}

.header-social-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: .2s;
    border: 2px solid transparent;
}

.header-social-item:hover {
    border-radius: 20px;

    border: 2px solid var(--a1);
    transition: .2s;
}

.header-social-item > svg {
    width: 30px;
} 

.main > h2 {
    display: inline-block;

    margin-top: 20px;
    padding-left: 15px;
    border-radius: 15px;
}

.main-link-container {
    display: flex;
    flex-direction: column;

    gap: 15px;
    margin-top: 10px;
}

.link-container-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;

    transition: .2s;
    border: 2px solid transparent;
}

.link-container-item:hover {
    /* background-color: var(--b3); */
    border-radius: 20px;
    border: 2px solid var(--a1);
    transition: .2s;
}

.link-container-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 7px;
}

/*
.main-iframe-container {
    display: flex;
    align-items: center;

    gap: 10px;
}

 .main-iframe-container-iframe {
    max-width: 300px;
}

.main-iframe-container-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.main-iframe-container-controller:active {
    background-color: var(--b3);
} */

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer p {
    cursor: pointer;
}

.footer #button {
    margin-top: 30px;
    user-select: none;
}

.footer #popup {
    display: none; 
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}




