@charset "UTF-8";

html.dark-mode {
    /* Background */
    --b1: #242424;
    --b2: #121212;
    --b3: #2E2E2E;

    /* Text */
    --t1: #F0F0F0;
    --t2: #363636;
    --t3: #E3E3E3;
    --t4: #B3B3B3;

    /* Accent */
    --a1: #7856FF;

    /* Shadow */
    --shadow: 0px 2px 10px -8px rgba(0, 0, 0, 0.2);
}

html.light-mode {
    --b1: #FFFFFF;
    --b2: #F5F5F5;
    --b3: #FAFAFA;

    --t1: #121212;
    --t2: #D6D6D6;
    --t3: #242424;
    --t4: #595959;

    --a1: #2A82FA;

    /* Shadow */
    --shadow: 0px 2px 10px -8px rgba(0, 0, 0, 0.2);

}

/* Light mode */
@media (prefers-color-scheme: light) {
    /* Gambiarra idiota, porém funcional */
    html.dark-mode {
        --b1: #FFFFFF;
        --b2: #F5F5F5;
        --b3: #FAFAFA;
    
        --t1: #121212;
        --t2: #D6D6D6;
        --t3: #242424;
        --t4: #595959;
    
        --a1: #2A82FA;

    }

    html.light-mode {
        /* Background */
        --b1: #242424;
        --b2: #121212;
        --b3: #2E2E2E;
    
        /* Text */
        --t1: #F0F0F0;
        --t2: #363636;
        --t3: #E3E3E3;
        --t4: #B3B3B3;
    
        /* Accent */
        --a1: #7856FF;

    }
}

.b1 { background-color: var(--b1); }
.b2 { background-color: var(--b2); }

.t1 { color: var(--t1); }
.t2 { color: var(--t2); }
.t3 { color: var(--t3)}
.t4 { color: var(--t4)}

.a1 { color: var(--a1); }
.a1B { background-color: var(--a1); }

.shadow { box-shadow: var(--shadow); }

.ponto { color: var(--a1); }
